<template>
  <div :id="id">
    <Settings></Settings>
  </div>
</template>
<script>
import Settings from '@/views/Settings'
import { ApplicationConfig } from '@/constants'

export default {
  components: { Settings },
  computed: {
    id: function () {
      return 'app_' + ApplicationConfig.widget.params.widget_code
    }
  }
}
</script>

<style scoped></style>
