<div class="form-group">
    <div class="form-group__title"><span>Сменить ответственного по сделке</span> Выберите группу или пользователей</div>
    <div class="form-group__control">
        {% set masterCheckboxClass = null %}
        {% if users.checked > 0 %}
            {% if users.checked < users.total %}
                {% set masterCheckboxClass = 'icon-check-minus' %}
            {% else %}
                {% set masterCheckboxClass = 'icon-checkbox-checked' %}
            {% endif %}
        {% endif %}

        {{ self.render(
            {ref: '/tmpl/controls/checkboxes_dropdown.twig'},
            {
                class_name            : users_class,
                master_checkbox_class : masterCheckboxClass,
                selected              : null,
                title_numeral         : 'менеджер,менеджера,менеджеров,менеджеры',
                title_empty           : 'Выберите менеджеров',
                title                 : 'Выберите менеджеров',
                name                  : null,
                need_escape           : false,
                items                 : users.items
            }
        ) }}
    </div>
</div>

<div class="form-group">
    <div class="form-group__title">Контроль повторных сделок</div>
    <div class="form-group__control">
        {{ self.render(
            {ref: '/tmpl/controls/select.twig'},
            {
                items: data.control_leads,
                id: control_leads_id,
                selected: data.control_leads_selected
            }
        ) }}
    </div>
</div>

<div class="form-group">
    <div class="form-group__control">
        {% if data.consider_loading == 1 %}
            {% set consider_loading_checked = true %}
        {% else %}
            {% set consider_loading_checked = false %}
        {% endif%}

        {{ self.render(
            {ref: '/tmpl/controls/checkbox.twig'},
            {
                text: 'Учитывать загрузку менеджера',
                id: consider_loading,
                checked: consider_loading_checked
            }
        ) }}
    </div>

    <div class="form-group__control {% if data.consider_loading != 1 %} amoai-leads_distribution-dp_settings_disable {% endif %}">
        {% set masterCheckboxClass = null %}
        {% if statuses.checked > 0 %}
            {% if statuses.checked < statuses.total %}
                {% set masterCheckboxClass = 'icon-check-minus' %}
            {% else %}
                {% set masterCheckboxClass = 'icon-checkbox-checked' %}
            {% endif %}
        {% endif %}

        {{ self.render(
            {ref: '/tmpl/controls/checkboxes_dropdown.twig'},
            {
                class_name            : statuses_class,
                master_checkbox_class : masterCheckboxClass,
                selected              : null,
                title_numeral         : 'статус,статуса,статусов,статусы',
                title_empty           : 'Выберите статусы',
                title                 : 'Выберите статусы',
                name                  : null,
                need_escape           : false,
                items                 : statuses.items
            }
        ) }}
    </div>
</div>

<div class="form-group">
    <div class="form-group__control">
        {% if data.consider_tasks == 1 %}
            {% set consider_tasks_checked = true %}
        {% else %}
            {% set consider_tasks_checked = false %}
        {% endif%}

        {{ self.render(
            {ref: '/tmpl/controls/checkbox.twig'},
            {
                text: 'Учитывать просроченные задачи',
                id: consider_tasks,
                checked: consider_tasks_checked
            }
        ) }}
    </div>

    <div class="form-group__control">
        {% if data.consider_schedule %}
            {% set consider_schedule_checked = true %}
        {% else %}
            {% set consider_schedule_checked = false %}
        {% endif%}

        {{ self.render(
            {ref: '/tmpl/controls/checkbox.twig'},
            {
                text: 'Учитывать рабочий график',
                id: consider_schedule,
                checked: consider_schedule_checked
            }
        ) }}
    </div>

    <div class="form-group__control">
        {% if data.change_contacts == 1 %}
            {% set change_contacts_checked = true %}
        {% else %}
            {% set change_contacts_checked = false %}
        {% endif%}

        {{ self.render(
            {ref: '/tmpl/controls/checkbox.twig'},
            {
                text: 'Сменить ответственного у контакта и компании',
                id: change_contacts,
                checked: change_contacts_checked
            }
        ) }}
    </div>

    <div class="form-group__control">
        {% if data.change_tasks == 1 %}
            {% set change_tasks_checked = true %}
        {% else %}
            {% set change_tasks_checked = false %}
        {% endif%}

        {{ self.render(
            {ref: '/tmpl/controls/checkbox.twig'},
            {
                text: 'Сменить ответственного у открытых задач по сделке',
                id: change_tasks,
                checked: change_tasks_checked
            }
        ) }}
    </div>
</div>
<div class="form-group">
    <div class="form-group__control">
        <div class="form-group__title"><span>Перераспределение неактивных сделок</span> Выберите время в минутах (0 отключает)</div>
        {{ self.render(
            {ref: '/tmpl/controls/input.twig'},
            {
                placeholder: 'Введите число',
                type: 'number',
                id: repeat_distribution_time,
                value: data.repeat_distribution_time
            }
        ) }}
    </div>
</div>
