html,
body {
    height: 100%
}

body {
    display: grid;
    place-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
}

.comment-box{
    padding:5px;
}



.comment-area textarea{
    resize: none; 
    border: 1px solid #726b6b;
}


.form-control:focus {
    color: #9c02a7;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
}

.send {
    color: #fff;
}

.send:hover {
    color: #fff;
}


.rating {
 display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

#btn{
    background: #9c02a7;
    color: #fff !important;
    margin:15px;
}

.row #btn{
    color: #fff;
}

/* ОТЗЫВЫ ПОЛЬЗОВАТЕЛЕЙ ВНИЗУ */
.wrapper_reiting{
    border:1px solid #ccc;
    padding: 15px 15px 0 15px;
    margin:15px;
    position: relative;
    display: block;
}

.wrapper_reiting ul li{
    list-style: none;
}

.wrapper_reiting ul .name{
    font-size: 18px;
    font-weight: bold;
}

.wrapper_reiting ul .date{
    font-size: 12px;
    font-weight: bold;
    float: right;
}

.wrapper_reiting p{
    font-size: 14px;
}

section .tagsComment a{
    text-align: center;
}