<template>
  <div>

  </div>
</template>

<script>

export default {
  components: { },
  name: 'Settings',
  data () {
    return {
      activeTab: 'templates'
    }
  },
  methods: {
  },
  mounted () {
  }
}
</script>

<style lang="scss">
.el-tabs__content {
  overflow: unset !important;
}
</style>
